<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SpringWeb</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
	<link rel="stylesheet" type="text/css" href="${stylePath}/commonweb/error.css" />
	<title>500错误</title>
</head>
<body>
<div class="container" >
  <div class="errorContent1">
      <h1 class="red">500错误</h1>
      <h1 class="gray">报歉，系统发生异常</h1>
      <p>因为系统发生异常！您可以<a href="javascript:void(0)" onclick="javascript:window.history.back();">返回上一页</a>，或者返回首页，重新浏览页面！</p>
  </div>
      
</div>

</body>
</html>